body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Navigation */

.navigation {
    align-items: center;
    background-color: rgba(23, 90, 65, 0.8);
    color: white;
    display: flex;
    height: 40px;
    justify-content: center;
}

.navigation__link {
    color: white;
    margin: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation__link:visited {
    color: white;
}

.navigation__link:hover {
    transform: scale(1.1);
}

/* Stacey */

.stacey__container {
    display: flex;
    flex-direction: column;
}

.stacey__content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.stacey__content--image {
    margin: 50px;
}

.stacey__scroll {
    animation: bounce 3s ease infinite;
    cursor: pointer;
    margin: 20px auto;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(-10px);}
}
